<div class="list-group">
    <div class="list-group-item"><span class="list-icon glyphicon glyphicon-briefcase"></span>
        <a routerLink="/shops">Shops</a>
    </div>
    <div class="list-group-item"><span class="list-icon glyphicon glyphicon-briefcase"></span>
        <a routerLink="/products">Storages</a>
    </div>
    <div class="list-group-item"><span class="list-icon glyphicon glyphicon-briefcase"></span>
        <a routerLink="/storages">Products</a>
    </div>
    <div class="list-group-item"><span class="list-icon glyphicon glyphicon-briefcase"></span>
        <a routerLink="/productInStorage">Product in Storage</a>
    </div>
</div>